// _base-colors.scss

// Base colors
$base-primary-color: #007bff;
$base-secondary-color: #6c757d;
$base-success-color: #28a745;
$base-danger-color: #dc3545;
$base-warning-color: #ffc107;
$base-info-color: #17a2b8;

// Light
$base-text-primary-color-light: #333333;
$base-text-secondary-color-light: #555555;
$base-bg-primary-color-light: #ffffff;
$base-bg-secondary-color-light: #f7f7f7;
$base-border-color-light: #cccccc;
$base-bg-anchor-tag-hover-color-light: #e0e0e0;
$base-bg-hover-color-light: #d0d0d0;

// Dark
$base-text-primary-color-dark: #e0e0e0;
$base-text-secondary-color-dark: #b0b0b0;
$base-bg-primary-color-dark: #1e1e1e;
$base-bg-secondary-color-dark: #121212;
$base-border-color-dark: #333333;
$base-bg-anchor-tag-hover-color-dark: #1a1a1a;
$base-bg-hover-color-dark: #2c2c2c;

// Sepia
$base-text-primary-color-sepia: #5b4636;
$base-text-secondary-color-sepia: #7b604a;
$base-bg-primary-color-sepia: #f5e6da;
$base-bg-secondary-color-sepia: #e3d3c3;
$base-border-color-sepia: #b89a74;
$base-bg-anchor-tag-hover-color-sepia: #f2e3cd;
$base-bg-hover-color-sepia: #c9ab89;
