// _base-colors.scss

// Base colors
$base-primary-color: #007bff;
$base-secondary-color: #6c757d;
$base-success-color: #28a745;
$base-danger-color: #dc3545;
$base-warning-color: #ffc107;
$base-info-color: #17a2b8;

// Light
$base-light-color: #f40606 !important;
$base-bg-color-light: #343a40 !important;
$base-border-color-light: #cccccc !important;

// Dark
$base-dark-color: #f5f5f5 !important;
$base-bg-dark-color: #171717 !important;
$base-border-color-dark: #fafafa !important;

// Sepia
$base-sepia-color:#c0c090 !important;
$base-bg-sepia: #f5f5dc !important;
$base-border-color-sepia: #bdb76b !important;



