// _base-colors.scss

// Base colors
$base-primary-color: #007bff;
$base-secondary-color: #6c757d;
$base-success-color: #28a745;
$base-danger-color: #dc3545;
$base-warning-color: #ffc107;
$base-info-color: #17a2b8;

// Light
$base-text-primary-color-light: #333333;
$base-text-secondary-color-light: #555555;
$base-bg-primary-color-light:#ffffff;
$base-bg-secondary-color-light: #F7F7F7;
$base-border-color-light: #CCCCCC;
$base-bg-anchor-tag-hover-color-light:#E0E0E0;
$base-bg-hover-color-light:#D0D0D0 ;

// Dark
$base-text-primary-color-dark: #E0E0E0;
$base-text-secondary-color-dark: #B0B0B0;
$base-bg-primary-color-dark: #121212;
$base-bg-secondary-color-dark: #1E1E1E;
$base-border-color-dark: #333333;
$base-bg-anchor-tag-hover-color-dark:#1A1A1A;
$base-bg-hover-color-dark:#2C2C2C;

// Sepia
$base-text-primary-color-sepia:#5B4636;
$base-text-secondary-color-sepia:#7B604A;
$base-bg-primary-color-sepia: #F5E6DA;
$base-bg-secondary-color-sepia: #E3D3C3;
$base-border-color-sepia: #B89A74;
$base-bg-anchor-tag-hover-color-sepia:#f2e3cd ;
$base-bg-hover-color-sepia:#C9AB89 ;


