// _themes.scss
@use './base-colors';

:root {
  --color: #243746;
  --bg-color: #f3f5f4;
  --border-color: #3bca83;
  --primary-color: $base-primary-color;
  --secondary-color: $base-secondary-color;
  --success-color: $base-success-color;
  --danger-color: $base-danger-color;
  --warning-color:$base-warning-color;
  --info-color: $base-info-color;
}

.light-mode {
  /* Light theme styles */
  --color: $base-light-color;
  --bg-color: $base-bg-color-light;
  --border-color: $base-border-color-light;
}

.dark-mode {
  /* Dark theme styles */
  --color: $base-dark-color;
  --bg-color: $base-bg-dark-color ;
  --border-color: $base-border-color-dark;
  }

.sepia-mode {
  --color: $base-sepia-color;
  --bg-color: $base-bg-sepia;
  --border-color: $base-border-color-sepia;
}




