// _themes.scss
@import "base-colors";

:root {
  // Default Color
  // --color: #243746;
  // --bg-color: #f3f5f4;
  // --border-color: #3bca83;

  --primary-color: $base-primary-color;
  --secondary-color: $base-secondary-color;
  --success-color: $base-success-color;
  --danger-color: $base-danger-color;
  --warning-color: $base-warning-color;
  --info-color: $base-info-color;
}

.light-mode {
  /* Light theme styles */
  --text-primary-color: #{$base-text-primary-color-light};
  --text-secondary-color: #{$base-text-secondary-color-light};
  --bg-primary-color: #{$base-bg-primary-color-light};
  --bg-secondary-color: #{$base-bg-secondary-color-light};
  --border-color: #{$base-border-color-light};
  --bg-anchor-tag-hover-color: #{$base-bg-anchor-tag-hover-color-light};
  --bg-hover-color: #{$base-bg-hover-color-light};
}

.dark-mode {
  /* Dark theme styles */
  --text-primary-color: #{$base-text-primary-color-dark};
  --text-secondary-color: #{$base-text-secondary-color-dark};
  --bg-primary-color: #{$base-bg-primary-color-dark};
  --bg-secondary-color: #{$base-bg-secondary-color-dark};
  --border-color: #{$base-border-color-dark};
  --bg-anchor-tag-hover-color: #{$base-bg-anchor-tag-hover-color-dark};
  --bg-hover-color: #{$base-bg-hover-color-dark};
}

.sepia-mode {
  --text-primary-color: #{$base-text-primary-color-sepia};
  --text-secondary-color: #{$base-text-secondary-color-sepia};
  --bg-primary-color: #{$base-bg-primary-color-sepia};
  --bg-secondary-color: #{$base-bg-secondary-color-sepia};
  --border-color: #{$base-border-color-sepia};
  --bg-anchor-tag-hover-color: #{$base-bg-anchor-tag-hover-color-sepia};
  --bg-hover-color: #{$base-bg-hover-color-sepia};
}
