// _typography.scss
@import "variables";

:root {
  /* Typography */
  --font-family: #{$font-family};
  --font-size: #{$font-size};
  --line-height: #{$line-height};
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
