:root {
  --font-primary: 'SpaceGrotesk-Regular', sans-serif;
  --font-secondary: 'Inter Regular', sans-serif;
  
}



body {
  font-family: var(--font-primary);
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
}

a {
  color: var(--color-primary);
  font-family: var(--font-primary); /* Apply primary font to links */
}

h1, h2, h3, h4, h5, h6, p, span, div, li, ul, ol, button, input, textarea, select {
  font-family: var(--font-primary); /* Apply primary font to all common text elements */
}


/* Common styles for the gradient border animation */
@keyframes gradient-border {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 200;
  }
}

.animate-gradient-border {
  stroke-dasharray: 200;
  animation: gradient-border 5s linear infinite;
}

.light-mode,
.dark-mode,
.sepia-mode {
  --border-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Default shadow style */
}



